* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

/* MARGINI */

.rightHeader > i {
    padding: 0 2px;
}
/* PADDING */

.pt-20 {
    padding-top: 20px;
}
/******************** FLEX BOX */

.d-flex {
    display: flex;
    width: 60%;
    height: auto;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.wrapped {
    flex-wrap: wrap;
}

/* TESTI */

h4 {
    font-weight: 700;
    font-size: 13px;
}

.sconto {
    position: absolute;
	bottom: 50px;
    left: 0;
    background-color: red;
    padding: 4px 8px;
}

.extra {
    position: absolute;
    bottom: 50px;
    left: 60px;
    background-color: green;
    padding: 4px 8px;
}
/********************* HEADER */
header {
    background-color: #ff6900;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.leftHeader {
    width: 25%;
    text-align: left;
}

.rightHeader {
    width: 25%;
    text-align: right;
}

.centerHeader {
    width: 50%;
    text-align: center;
    max-height: 100%;
}

.centerHeader img {
    width: 25%;
    height: auto;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

/******************* MAIN */

.itemCard {
    width: 32%;
}

.itemCard > img {
    max-width: 100%;
}

.relative {
    position: relative;
}

