* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

/* MARGINI */


/* PADDING */

.pt-80 {
    padding-top: 80px;
}

.pb-40 {
    padding-bottom: 40px;
}

.rightHeader > i {
    padding: 0 2px;
}

/******************** FLEX BOX */

.d-flex {
    display: flex;
    width: 60%;
    height: auto;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.wrapped {
    flex-wrap: wrap;
}

/* TESTI */

h4 {
    font-weight: 700;
    font-size: 13px;
}

.sconto {
    position: absolute;
	bottom: 130px;
    left: 0;
    background-color: red;
    padding: 4px 8px;
}

.extra {
    position: absolute;
    bottom: 130px;
    left: 60px;
    background-color: green;
    padding: 4px 8px;
}

.extraPlus {
    position: absolute;
    bottom: 130px;
    left: 0px;
    background-color: green;
    padding: 4px 8px;
}

.textBox {
    color: black;
}

.brand {
    font-size: 12px;
}
.itemPrice {
    color: red;
}

.greyedOut {
    margin-left: 8px;
    color: grey;
    text-decoration: line-through;
}
/* HEART */

.heart {
    color: black;
    background-color: white;
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 30px;
    padding: 5px 15px;
}

.heart:hover {
    color: red;
    cursor: pointer;
}


/********************* HEADER */
header {
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #ff6900;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.leftHeader {
    width: 25%;
    text-align: left;
}

.rightHeader {
    width: 25%;
    text-align: right;
}

.centerHeader {
    width: 50%;
    text-align: center;
    max-height: 100%;
}

.centerHeader img {
    width: 25%;
    height: auto;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

/******************* MAIN */

.w-32 {
    width: 32%;
}

img {
    max-width: 100%;
}

.relative {
    position: relative;
}

.imgBox {
    max-height: 100%;
}

/* HOVER IMAGE */

.hoverImg {
    display: none;
}

.imgBox:hover .mainImg {
    display: none;
}

.imgBox:hover .hoverImg {
    display: inline-block;
}



